#instrument-store{
  display:flex;
  flex-wrap:wrap;
}

.instrumentBanner{
  height:300px;
  width:350px;
  border-radius:10px;
  border:2px solid black;
  box-shadow:2px 2px 2px black;
  margin-top:45px;
  margin-left:130px;
  margin-right:130px;
  cursor:pointer;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.Fender:hover {
  background-color: red;
  color: white;
}

img {
  height: 150px;
}

.banner {
  text-align: center;
}


button {
  background-color: orange;
  border: 2;
  border-color: black;
  padding: 5px
}

#add {
  margin-top: 1px;
  margin-left: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

#cart {
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.hide{
  display:none;
}

.empty{
margin: auto;
padding: 100px
}

.popUp{
  background-color:rgba(193, 193, 193, 0.66);
  position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
  display:none;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.popUpInfo{
  height:400px;
  width:350px;
  background-color: white;
  position:absolute;
  top: 10%;
  left: 40%;
  display:none;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.popUp img{
  height:100px;
}

.no-image {
  text-align: center;
  vertical-align: middle;
  color: black !important;
}

ul {
    width: 100%;
}
ul li {
    display:block;
    padding: 7px;
}

.addNewInstrument {
  margin-bottom: 1px;
  margin-right: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cancel{
  margin-bottom: 1px;
  margin-left: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}